### Reporte de asociados activos

Reporte que incluye asociados con aportes al día o al menos tres movimientos en ahorros durante el último año o préstamo activo durante el último año. Reporte de Riesgos

**ENTRADAS**

**1.** Vista Reporte General de Préstamos (*columnas requeridas* -> cedula, fecha desembolso, estado = activo (0) o cancelado (7))


**2.** Vista de Aportes por asociado. (*columnas requeridas* -> cedula, saldo, fecha_ingreso, agencia)


**3.** Vista Reporte de Movimiento (*columnas requeridas* ->

In [8]:
#importar librerias 
import pandas as pd # Manipulacion de datos
from pandas import ExcelWriter #Crear archivo de excel
import sqlalchemy as sql # Conexion con base de datos
import PySimpleGUI as sg #Crear interfaz de usuario

In [9]:
#Conexion con la base de datos 
engine = sql.create_engine("mysql://mysql:reportserver@34.74.68.92:3306/BIServer") #Credenciales BD

In [10]:
#Se establecen los criterio de las fechas de revision
fecha_inicio = input("Por favor inserte la fecha inicial de su revisión en formato aaaa-mm-dd ")
fecha_fin = input("Por favor inserte la fecha final de su revisión en formato aaaa-mm-dd ")

Por favor inserte la fecha inicial de su revisión en formato aaaa-mm-dd 2021-03-05
Por favor inserte la fecha final de su revisión en formato aaaa-mm-dd 2021-03-08

In [11]:
def vista_prestamos(engine):
    #Vista reporte general de prestamo
    prestamos = pd.read_sql_query(f"select coalesce(`p`.`periodo_gracia`,0) AS `periodo_gracia`,coalesce(`p`.`numero_pagare`,0) AS `pagare`,coalesce(`p`.`plazo`,0) AS `plazo`,coalesce(`p`.`tasa_total`,0) AS `tasa`,coalesce(`p`.`saldo`,0) AS `saldo_capital`,coalesce(`p`.`fecha_ultimo_pago`,'') AS `fecha_ultimo_pago`,coalesce(`p`.`fecha_proximo_pago`,'') AS `fecha_proximo_pago`,coalesce(`p`.`dias_mora`,0) AS `dias_atraso`,coalesce(`d`.`fecha_desembolso`,'') AS `fecha_desembolso`,coalesce(`d`.`monto_desembolsar`,0) AS `monto_desembolsar`,coalesce(`pb`.`interes_causado_nocobrado`,0) AS `interes_corriente`,coalesce(`pb`.`interes_mora_causado_nocobrado`,0) AS `interes_mora`,coalesce(`pb`.`interes_causado_cuenta_orden`,0) AS `interes_dificil_cobro`,coalesce(`s`.`name`,'') AS `agencia`,coalesce(`c`.`razonsocial`,'') AS `cliente`,coalesce(`c`.`identificationtype`,'') AS `Tipo_Identificacion`,coalesce(`c`.`identification`,'') AS `Nro_Identificacion`,coalesce(`pr`.`nombre_producto`,'') AS `producto`,(case when (`p`.`tipo_prestamo` = 'c') then 'consumo' when (`p`.`tipo_prestamo` = 'l') then 'comercial' when (`p`.`tipo_prestamo` = 'h') then 'hipotecario' when (`p`.`tipo_prestamo` = 'm') then 'microcrÃ©dito' end) AS `linea`,coalesce(`pb`.`interes_mora_causado_cuenta_orden`,0) AS `interes_dificil_cobro_mora`,coalesce(`p`.`numero_operacion`,0) AS `numero_prestamo`,coalesce(`p`.`fecha_cancelacion`,'') AS `fechacancelacion`,coalesce(`garantia`.`numero_garantia`,0) AS `nrogarantia`,coalesce(`tipo_garantia`.`descripcion`,'') AS `tipogarantia`,coalesce(`garantia`.`valor_inicial`,0) AS `valorgarantia`,coalesce(`p`.`estado`,'') AS `estado`,coalesce(`pagos`.`name`,'') AS `Forma_Pago`,coalesce(`per`.`nombre`,'') AS `Periodicidad`,coalesce(`asesor`.`razonsocial`,'') AS `nombre_asesor`,coalesce(`aprobacion`.`acta_aprobacion`,'') AS `Acta_Aprobacion`,coalesce(`tipo`.`description`,'') AS `Destino_Credito`,round(coalesce(`dm`.`dias_mora_promedio`,0),2) AS `Dias_Mora_Promedio`,coalesce(`p`.`capital_inicial`,0) AS `Capital_Inicial`,coalesce(`cobros`.`capital_base`,0) AS `Valor_Capital_Cuota`,coalesce(`cobros`.`interes_corriente_base`,0) AS `Interes_Cuota`,coalesce(`cobros`.`monto_total_cobros_adicionales`,0) AS `Cobros_Adicionales`,`des`.`name` AS `Usuario_Desembolso`,`p`.`ind_reestructuracion` AS `ind_reestructuracion`,coalesce(`p`.`fecha_reestructuracion`,'') AS `Fecha_Reestructuracion`,coalesce(`p`.`prestamo_relacionado`,'') AS `Prestamo_Relacionado`,coalesce(`p`.`fecha_vencimiento_final`,'') AS `fecha_vencimiento_final` from (((((((((((((((((`prm_prestamo` `p` left join `prm_desembolso` `d` on((`p`.`prm_prestamo_id` = `d`.`prm_prestamo_id`))) left join `prm_balance` `pb` on((`p`.`prm_prestamo_id` = `pb`.`prm_prestamo_id`))) left join `c_bpartner_location` `s` on((`p`.`c_bpartner_location_id` = `s`.`c_bpartner_location_id`))) left join `cu_customermaster` `c` on((`p`.`cu_customermaster_id` = `c`.`cu_customermaster_id`))) left join `prd_producto` `pr` on((`p`.`prd_producto_id` = `pr`.`prd_producto_id`))) left join `cpo_garantia` `cupo` on(((`p`.`numero_cupo` = `cupo`.`cpo_cupo_id`) and (`cupo`.`isactive` = 'Y')))) left join `grt_garantia` `garantia` on((`cupo`.`grt_garantia_id` = `garantia`.`grt_garantia_id`))) left join `grt_tipo_garantia` `tipo_garantia` on((`garantia`.`grt_tipo_garantia_id` = `tipo_garantia`.`grt_tipo_garantia_id`))) left join `cu_customermaster` `asesor` on((`asesor`.`cu_customermaster_id` = `p`.`cu_asesor_id`))) left join `scr_credito` `credito` on((`p`.`numero_operacion` = `credito`.`numero_prestamo`))) left join `scr_aprobacion` `aprobacion` on((`credito`.`scr_credito_id` = `aprobacion`.`scr_credito_id`))) left join `prd_coddesc` `tipo` on((`p`.`destino_credito` = `tipo`.`prd_coddesc_id`))) left join `vw_rs_prestamos_dias_mora` `dm` on((`p`.`prm_prestamo_id` = `dm`.`prm_prestamo_id`))) left join `vw_rs_prestamos_cobros` `cobros` on((`p`.`prm_prestamo_id` = `cobros`.`prm_prestamo_id`))) left join `ad_user` `des` on((`d`.`createdby` = `des`.`ad_user_id`))) left join `adm_periodicidad` `per` on((`p`.`periodicidad` = `per`.`adm_periodicidad_id`))) left join `ad_ref_list` `pagos` on(((`p`.`adm_formas_pago_id` = `pagos`.`value`) and (`pagos`.`ad_reference_id` = 800722))))where (`d`.`fecha_desembolso` BETWEEN '{fecha_inicio}' AND '{fecha_fin}') AND (`p`.`estado` = '0' OR `p`.`estado`= '7')",engine)
    return prestamos

In [12]:
vista_prestamos(engine)

,periodo_gracia,pagare,plazo,tasa,saldo_capital,fecha_ultimo_pago,fecha_proximo_pago,dias_atraso,fecha_desembolso,monto_desembolsar,...,Dias_Mora_Promedio,Capital_Inicial,Valor_Capital_Cuota,Interes_Cuota,Cobros_Adicionales,Usuario_Desembolso,ind_reestructuracion,Fecha_Reestructuracion,Prestamo_Relacionado,fecha_vencimiento_final
0,0,380926.0,36.0,23.87,5500000.0,,2021-04-15,0.0,2021-03-08,5500000.0,...,0.0,5500000.0,109915.27,122086.31,6600.00,ATRIOS,N,,,2024-03-15
1,0,56050050.0,36.0,11.35,4000000.0,,2021-04-08,0.0,2021-03-05,4000000.0,...,0.0,4000000.0,94578.07,39595.71,4800.00,ODCORTEZ,N,,,2024-03-08
2,0,56050119.0,36.0,14.03,22700000.0,,2021-04-10,0.0,2021-03-05,22700000.0,...,0.0,22700000.0,517331.73,291343.15,27240.00,JECARDONA,N,,,2024-03-10
3,0,56050065.0,36.0,19.56,12000000.0,,2021-04-10,0.0,2021-03-05,12000000.0,...,0.0,12000000.0,253838.30,209972.00,14400.00,ODCORTEZ,N,,,2024-03-10
4,0,56050089.0,36.0,20.98,20000000.0,,2021-04-15,0.0,2021-03-05,19800000.0,...,0.0,20000000.0,415167.90,426586.80,24000.00,YAGUIRREH,N,,,2024-03-15
5,0,380933.0,12.0,25.44,1000000.0,,2021-04-10,0.0,2021-03-05,990000.0,...,0.0,1000000.0,74951.61,22244.95,1200.00,LPARRA,N,,,2022-03-10
6,0,56050084.0,36.0,11.35,6000000.0,,2021-04-05,0.0,2021-03-05,6000000.0,...,0.0,6000000.0,141867.11,53994.00,7200.00,JPMARTINEZ,N,,,2024-03-05
7,0,56050085.0,36.0,11.35,6000000.0,,2021-04-08,0.0,2021-03-05,6000000.0,...,0.0,6000000.0,141867.11,59393.40,7200.00,JPMARTINEZ,N,,,2024-03-08
8,0,56050082.0,12.0,41.75,1000000.0,,2021-04-06,0.0,2021-03-06,1000000.0,...,0.0,1000000.0,70662.07,29501.00,1200.00,BTCONTRERAS,N,,,2022-03-06
9,0,56050117.0,19.0,19.57,10000000.0,,2021-04-05,0.0,2021-03-05,9900000.0,...,0.0,10000000.0,458763.35,150050.00,40184.21,BJGALLARDO,N,,,2022-10-05
10,0,380934.0,8.0,41.75,925000.0,,2021-04-10,0.0,2021-03-05,925000.0,...,0.0,925000.0,104206.49,31836.35,1110.00,VCASTANO,N,,,2021-11-10
11,0,56050144.0,36.0,41.75,6350000.0,,2021-04-08,0.0,2021-03-08,6286500.0,...,0.0,6350000.0,101361.20,187331.35,7620.00,LTRINCON,N,,,2024-03-08
12,0,56050087.0,36.0,20.98,9000000.0,,2021-04-15,0.0,2021-03-05,8910000.0,...,0.0,9000000.0,186825.56,191964.00,10800.00,YAGUIRREH,N,,,2024-03-15
13,0,56050103.0,36.0,23.87,8000000.0,,2021-04-10,0.0,2021-03-05,8000000.0,...,0.0,8000000.0,159876.75,167981.45,9600.00,FLSALGADO,N,,,2024-03-10
14,0,56050104.0,36.0,23.87,7000000.0,,2021-04-10,0.0,2021-03-05,7000000.0,...,0.0,7000000.0,139892.16,146983.55,8400.00,FLSALGADO,N,,,2024-03-10
15,0,56050112.0,11.0,19.56,1090000.0,,2021-04-10,0.0,2021-03-05,1079100.0,...,0.0,1090000.0,91881.22,19072.55,1308.00,FLSALGADO,N,,,2022-02-10
16,0,56050101.0,24.0,11.35,3210000.0,,2021-04-10,0.0,2021-03-05,3177900.0,...,0.0,3210000.0,120424.70,33701.15,3852.00,EVILLAR,N,,,2023-03-10
17,0,56050101.0,24.0,11.35,3210000.0,,2021-04-10,0.0,2021-03-05,3177900.0,...,0.0,3210000.0,120424.70,33701.15,3852.00,EVILLAR,N,,,2023-03-10
18,0,56050091.0,36.0,11.35,12500000.0,,2021-04-20,0.0,2021-03-05,12375000.0,...,0.0,12500000.0,295556.48,168731.10,15000.00,DMOSORIO,N,,,2024-03-20
19,0,56050092.0,84.0,10.77,90000000.0,,2021-04-05,0.0,2021-03-05,90000000.0,...,0.0,90000000.0,736385.69,770400.00,108000.00,KAROLL NATHALIA TINJACA ALDANA,N,,,2028-03-05
20,0,56050134.0,36.0,11.35,14000000.0,,2021-04-12,0.0,2021-03-06,14000000.0,...,0.0,14000000.0,331023.26,151183.08,38220.00,XSANTAMARIA,N,,,2024-03-12
21,0,56050134.0,36.0,11.35,14000000.0,,2021-04-12,0.0,2021-03-06,14000000.0,...,0.0,14000000.0,331023.26,151183.08,38220.00,XSANTAMARIA,N,,,2024-03-12
22,0,56050096.0,36.0,25.44,4000000.0,,2021-04-05,0.0,2021-03-05,4000000.0,...,0.0,4000000.0,78321.65,76268.00,4800.00,ODCORTEZ,N,,,2024-03-05
23,0,56050146.0,24.0,42.41,2500000.0,,2021-04-10,0.0,2021-03-08,2475000.0,...,0.0,2500000.0,72710.48,79730.56,3000.00,KTROCHEZ,N,,,2023-03-10
24,0,56050146.0,24.0,42.41,2500000.0,,2021-04-10,0.0,2021-03-08,2475000.0,...,0.0,2500000.0,72710.48,79730.56,3000.00,KTROCHEZ,N,,,2023-03-10
25,0,56050098.0,18.0,41.75,3000000.0,,2021-04-06,0.0,2021-03-06,3000000.0,...,0.0,3000000.0,128703.90,88503.00,3600.00,BTCONTRERAS,N,,,2022-09-06
26,0,56050098.0,18.0,41.75,3000000.0,,2021-04-06,0.0,2021-03-06,3000000.0,...,0.0,3000000.0,128703.90,88503.00,3600.00,BTCONTRERAS,N,,,2022-09-06
27,0,56050098.0,18.0,41.75,3000000.0,,2021-04-06,0.0,2021-03-06,3000000.0,...,0.0,3000000.0,128703.90,88503.00,3600.00,BTCONTRERAS,N,,,2022-09-06
28,0,56050099.0,36.0,11.35,6000000.0,,2021-04-10,0.0,2021-03-06,6000000.0,...,0.0,6000000.0,141867.11,61193.20,7200.00,BTCONTRERAS,N,,,2024-03-10
29,0,56050100.0,30.0,19.56,3800000.0,,2021-04-10,0.0,2021-03-05,3762000.0,...,0.0,3800000.0,101232.03,66491.25,4560.00,KTROCHEZ,N,,,2023-09-10
30,0,56050100.0,30.0,19.56,3800000.0,,2021-04-10,0.0,2021-03-05,3762000.0,...,0.0,3800000.0,101232.03,66491.25,4560.00,KTROCHEZ,N,,,2023-09-10
31,0,56050102.0,36.0,19.56,5700000.0,,2021-04-20,0.0,2021-03-05,5643000.0,...,0.0,5700000.0,120573.19,128232.90,6840.00,YAGUIRREH,N,,,2024-03-20
32,0,56050105.0,36.0,19.56,12400000.0,,2021-04-20,0.0,2021-03-05,12276000.0,...,0.0,12400000.0,262299.58,278962.65,14880.00,YAGUIRREH,N,,,2024-03-20
33,0,56050129.0,10.0,19.56,1065000.0,,2021-04-10,0.0,2021-03-05,1065000.0,...,0.0,1065000.0,99508.31,18635.05,0.00,KAROLL NATHALIA TINJACA ALDANA,N,,,2022-01-10
34,0,380936.0,11.0,19.56,2235000.0,,2021-04-05,0.0,2021-03-05,2212650.0,...,0.0,2235000.0,188398.65,33520.53,2682.00,YLOPEZ,N,,,2022-02-05
35,0,56050118.0,10.0,19.56,2009500.0,,2021-04-15,0.0,2021-03-05,1989405.0,...,0.0,2009500.0,187757.69,40184.80,2411.40,LFLOREZ,N,,,2022-01-15
36,0,56050113.0,11.0,19.56,5896000.0,,2021-04-10,0.0,2021-03-05,5837040.0,...,0.0,5896000.0,497001.55,103166.35,7075.20,JHVELASQUEZ,N,,,2022-02-10
37,0,56050115.0,60.0,17.46,4000000.0,,2021-04-15,0.0,2021-03-08,3960000.0,...,0.0,4000000.0,43697.81,66600.00,4800.00,JLGARCIA,N,,,2026-03-15
38,0,56050140.0,12.0,49.99,1000000.0,,2021-04-08,0.0,2021-03-08,990000.0,...,0.0,1000000.0,68734.55,34360.00,1200.00,JECARDONA,N,,,2022-03-08
39,0,56050139.0,24.0,42.41,6300000.0,,2021-04-06,0.0,2021-03-06,6237000.0,...,0.0,6300000.0,183230.40,188363.70,7560.00,JECARDONA,N,,,2023-03-06
40,0,56050139.0,24.0,42.41,6300000.0,,2021-04-06,0.0,2021-03-06,6237000.0,...,0.0,6300000.0,183230.40,188363.70,7560.00,JECARDONA,N,,,2023-03-06
41,0,380939.0,36.0,25.44,3000000.0,,2021-04-06,0.0,2021-03-06,2970000.0,...,0.0,3000000.0,58741.24,57201.00,3600.00,YLOPEZ,N,,,2024-03-06
42,0,56050124.0,11.0,19.56,1884000.0,,2021-04-20,0.0,2021-03-05,1865160.0,...,0.0,1884000.0,158811.22,42384.15,2260.80,DMOSORIO,N,,,2022-02-20
43,0,56050126.0,60.0,19.56,30000000.0,,2021-04-15,0.0,2021-03-05,30000000.0,...,0.0,30000000.0,311823.66,599920.00,36000.00,JLGARCIA,N,,,2026-03-15
44,0,56050138.0,24.0,14.03,3500000.0,,2021-04-06,0.0,2021-03-06,3465000.0,...,0.0,3500000.0,128223.84,38503.50,4200.00,CGALVIS,N,,,2023-03-06
45,0,56050150.0,36.0,11.35,7600000.0,,2021-04-08,0.0,2021-03-08,7524000.0,...,0.0,7600000.0,179698.34,68392.40,9120.00,JECARDONA,N,,,2024-03-08
46,0,56050145.0,36.0,19.56,12800000.0,,2021-04-15,0.0,2021-03-08,12800000.0,...,0.0,12800000.0,270760.85,236768.55,34944.00,ODCORTEZ,N,,,2024-03-15
47,0,56050145.0,36.0,19.56,12800000.0,,2021-04-15,0.0,2021-03-08,12800000.0,...,0.0,12800000.0,270760.85,236768.55,34944.00,ODCORTEZ,N,,,2024-03-15
48,0,56050148.0,24.0,25.44,3000000.0,,2021-04-10,0.0,2021-03-08,2970000.0,...,0.0,3000000.0,99740.84,61014.40,3600.00,MASANCHEZ,N,,,2023-03-10
49,0,56050165.0,36.0,41.75,5700000.0,,2021-04-10,0.0,2021-03-08,5643000.0,...,0.0,5700000.0,90985.65,179366.08,6840.00,FAVARGAS,N,,,2024-03-10
50,0,56050152.0,18.0,11.35,2700000.0,,2021-04-08,0.0,2021-03-08,2673000.0,...,0.0,2700000.0,277703.28,48594.60,12960.00,CLOZANO,N,,,2022-09-08
51,0,56050170.0,24.0,42.58,3500000.0,,2021-04-10,0.0,2021-03-08,3500000.0,...,0.0,3500000.0,101663.41,112007.36,4200.00,ODCORTEZ,N,,,2023-03-10
52,0,56050162.0,24.0,11.22,2300000.0,,2021-04-08,0.0,2021-03-08,2277000.0,...,0.0,2300000.0,86385.62,20472.30,2760.00,LTRINCON,N,,,2023-03-08
53,0,380945.0,36.0,11.35,5500000.0,,2021-04-10,0.0,2021-03-08,5445000.0,...,0.0,5500000.0,130044.85,52794.24,6600.00,LPARRA,N,,,2024-03-10
54,0,56050155.0,36.0,20.98,15000000.0,,2021-04-10,0.0,2021-03-08,14850000.0,...,0.0,15000000.0,311375.93,255952.00,18000.00,MASANCHEZ,N,,,2024-03-10
55,0,56050161.0,24.0,11.22,6350000.0,,2021-04-08,0.0,2021-03-08,6286500.0,...,0.0,6350000.0,238499.43,56521.35,7620.00,LTRINCON,N,,,2023-03-08
56,0,56050160.0,12.0,19.56,470000.0,,2021-04-16,0.0,2021-03-08,465300.0,...,0.0,470000.0,36040.00,8928.86,564.00,JFSALAZAR,N,,,2022-03-16

In [13]:
#Vista de aportes por asociado
aportes_por_cc = pd.read_sql_query(f"select `dep`.`cu_customermaster_id` AS `cliente_id`,`cliente`.`identification` AS `cedula`, coalesce(`cliente`.`razonsocial`,'') AS `Nombre_Completo`, coalesce(`cbl2`.`name`,'') AS `Agencia`,coalesce(`cbl`.`name`,'') AS `Sucursal`, SUM(`dep`.`saldo_actual`) AS `saldo`, `cliente`.`entry_date` AS `fecha_ingreso` from ((`dep_deposito` `dep` left join `prd_producto` `pro` on((`dep`.`prd_producto_id` = `pro`.`prd_producto_id`))) left join `prd_tipo_producto` `tip` ON ((`pro`.`prd_tipo_producto_id` = `tip`.`prd_tipo_producto_id`)) left join `cu_customermaster` `cliente` ON ((`cliente`.`cu_customermaster_id`=`dep`.`cu_customermaster_id`)) left join `c_bpartner_location` `cbl` on((`cliente`.`branch` = `cbl`.`c_bpartner_location_id`))) join `c_bpartner_location` `cbl2` on((`cbl`.`ad_org_location_id` = `cbl2`.`c_bpartner_location_id`)) WHERE (`tip`.`clasificacion` = 'AT') AND (`cliente`.`entry_date` < '{fecha_fin}') group BY `dep`.`cu_customermaster_id`",engine)

In [5]:
aportes_por_cc

,cliente_id,cedula,Nombre_Completo,Agencia,Sucursal,saldo,fecha_ingreso
0,1625990.0,107,DANIEL ORREGO LOPEZ,ARMENIA,ARMENIA,117083.96,1990-06-15
1,1626004.0,1002,JUAN GUILLERMO ARIAS CASTANEDA,ARMENIA,ARMENIA,104983.38,1995-03-06
2,1626005.0,1004,FELIPE CABALLERO GONZALEZ,ARMENIA,ARMENIA,111963.05,1990-04-02
3,1626006.0,1005,ANA BEATRIZ ANGEL GIRALDO,ARMENIA,ARMENIA,117083.96,1992-01-23
4,1626007.0,1006,PAOLA ARIAS ACOSTA,ARMENIA,ARMENIA,175622.00,1989-10-11
...,...,...,...,...,...,...,...
58856,1715671.0,1088313395,CARLOS ANDRES ACEVEDO ASTUDILLO,PEREIRA,PEREIRA,94512.00,2021-01-29
58857,1715675.0,33990811,MARIA CONSUELO RANGEL VILLADA,ARMENIA,ARMENIA,54991.00,2021-01-29
58858,1715676.0,1076352089,CRISTIAN DANIEL URIBE CASTRO,PEREIRA,PEREIRA,74512.00,2021-01-29
58859,1715677.0,18460722,JESUS ALBEIRO MARIN RAMIRZ,FUNDADORES,FUNDADORES,56991.00,2021-01-29
58860,1715682.0,35462432,MERY GARCIA METZGER,ARMENIA,ARMENIA,390991.00,2021-01-30

In [6]:
#Vista de movimientos por asociado
movimientos_asociados = pd.read_sql_query(f"select coalesce(`movAgencia`.`name`,'') AS `Agencia_Movimiento`,coalesce(`movAgencia`.`c_bpartner_location_id`,'') AS `Agencia_Location`,coalesce(`cliAgencia`.`name`,'') AS `Agencia_Cliente`,coalesce(`prodAgencia`.`name`,'') AS `Agencia_Producto`,coalesce(`cliente`.`cu_customermaster_id`,'') AS `Cliente_id`,coalesce(`cliente`.`razonsocial`,'') AS `Cliente`, coalesce(`cliente`.`identification`,'') AS `Cedula`,coalesce(`producto`.`prd_producto_id`,'') AS `Producto_id`,coalesce(`producto`.`nombre_producto`,'') AS `Producto`,coalesce(`deposito`.`cuenta_cliente`,'') AS `Nro_Cuenta`,coalesce(`dep_movimiento`.`num_doc`,'') AS `Numero_Documento`,coalesce(`canalref`.`name`,'') AS `Canal`,coalesce(`dep_movimiento`.`fecha_movimiento`,'0001-01-01') AS `Fecha_Movimiento`,coalesce(`dep_movimiento`.`descripcion`,'') AS `Descripcion`,coalesce(`dep_movimiento`.`tipo_movimiento`,'') AS `Tipo_Movimiento`,coalesce(`dep_movimiento`.`monto_movimiento`,0) AS `Monto_Movimiento`,coalesce(`deposito`.`monto_congelado`,0) AS `Monto_Congelado`,coalesce(`dep_movimiento`.`saldo_inicial`,0) AS `Saldo_Inicial`,coalesce(`dep_movimiento`.`saldo_final`,0) AS `Saldo_Final`,coalesce(`comprobante`.`nombre`,'') AS `Comprobante`,coalesce(`tipo_doc`.`descripcion`,'') AS `Tipo_Documento` from ((((((((((`dep_movimiento` left join `dep_deposito` `deposito` on((`deposito`.`dep_deposito_id` = `dep_movimiento`.`dep_deposito_id`))) left join `prd_producto` `producto` on((`producto`.`prd_producto_id` = `deposito`.`prd_producto_id`))) left join `cu_customermaster` `cliente` on((`deposito`.`cu_customermaster_id` = `cliente`.`cu_customermaster_id`))) left join `adm_canal` `canal` on((`canal`.`adm_canal_id` = `dep_movimiento`.`adm_canal_id`))) left join `ad_ref_list` `canalref` on(((`canal`.`canal` = `canalref`.`value`) and (`canalref`.`ad_reference_id` = 101300)))) left join `c_bpartner_location` `movAgencia` on((`dep_movimiento`.`agencia_id` = `movAgencia`.`c_bpartner_location_id`))) left join `c_bpartner_location` `cliAgencia` on((`cliente`.`branch` = `cliAgencia`.`c_bpartner_location_id`))) left join `c_bpartner_location` `prodAgencia` on((`deposito`.`agencia_id` = `prodAgencia`.`c_bpartner_location_id`))) left join `ctbconf_comprobante` `comprobante` on((`dep_movimiento`.`ctbconf_comprobante_id` = `comprobante`.`ctbconf_comprobante_id`))) left join `ctbconf_tipo_doc` `tipo_doc` on((`dep_movimiento`.`ctbconf_tipo_doc_id` = `tipo_doc`.`ctbconf_tipo_doc_id`))) WHERE (`dep_movimiento`.`fecha_movimiento` BETWEEN '{fecha_inicio}' AND '{fecha_fin}') AND (`canalref`.`name` = 'Caja' OR `canalref`.`name` = 'Debito Automatico' OR `canalref`.`name` = 'Distribución de Fondos' OR `canalref`.`name` = 'Distribuciones' OR `canalref`.`name` = 'Internet Banking' OR `canalref`.`name` = 'PDA' OR `canalref`.`name` = 'Red' OR `canalref`.`name` = 'Red Reexpedicion' OR (`canalref`.`name` = 'Traslados Internos' AND NOT `tipo_doc`.`descripcion` = 'Cobro Cuota de Manejo TD' AND NOT `tipo_doc`.`descripcion` = 'Liquidacion Intereses Depositos' AND NOT `tipo_doc`.`descripcion` = 'Retiro de Clientes' AND NOT `tipo_doc`.`descripcion` = 'Reversos Depositos' AND NOT `tipo_doc`.`descripcion` = 'Reversos Taquilla'))", engine)

In [7]:
#Vista reporte general de prestamo
prestamos = pd.read_sql_query(f"select coalesce(`p`.`periodo_gracia`,0) AS `periodo_gracia`,coalesce(`p`.`numero_pagare`,0) AS `pagare`,coalesce(`p`.`plazo`,0) AS `plazo`,coalesce(`p`.`tasa_total`,0) AS `tasa`,coalesce(`p`.`saldo`,0) AS `saldo_capital`,coalesce(`p`.`fecha_ultimo_pago`,'') AS `fecha_ultimo_pago`,coalesce(`p`.`fecha_proximo_pago`,'') AS `fecha_proximo_pago`,coalesce(`p`.`dias_mora`,0) AS `dias_atraso`,coalesce(`d`.`fecha_desembolso`,'') AS `fecha_desembolso`,coalesce(`d`.`monto_desembolsar`,0) AS `monto_desembolsar`,coalesce(`pb`.`interes_causado_nocobrado`,0) AS `interes_corriente`,coalesce(`pb`.`interes_mora_causado_nocobrado`,0) AS `interes_mora`,coalesce(`pb`.`interes_causado_cuenta_orden`,0) AS `interes_dificil_cobro`,coalesce(`s`.`name`,'') AS `agencia`,coalesce(`c`.`razonsocial`,'') AS `cliente`,coalesce(`c`.`identificationtype`,'') AS `Tipo_Identificacion`,coalesce(`c`.`identification`,'') AS `Nro_Identificacion`,coalesce(`pr`.`nombre_producto`,'') AS `producto`,(case when (`p`.`tipo_prestamo` = 'c') then 'consumo' when (`p`.`tipo_prestamo` = 'l') then 'comercial' when (`p`.`tipo_prestamo` = 'h') then 'hipotecario' when (`p`.`tipo_prestamo` = 'm') then 'microcrÃ©dito' end) AS `linea`,coalesce(`pb`.`interes_mora_causado_cuenta_orden`,0) AS `interes_dificil_cobro_mora`,coalesce(`p`.`numero_operacion`,0) AS `numero_prestamo`,coalesce(`p`.`fecha_cancelacion`,'') AS `fechacancelacion`,coalesce(`garantia`.`numero_garantia`,0) AS `nrogarantia`,coalesce(`tipo_garantia`.`descripcion`,'') AS `tipogarantia`,coalesce(`garantia`.`valor_inicial`,0) AS `valorgarantia`,coalesce(`p`.`estado`,'') AS `estado`,coalesce(`pagos`.`name`,'') AS `Forma_Pago`,coalesce(`per`.`nombre`,'') AS `Periodicidad`,coalesce(`asesor`.`razonsocial`,'') AS `nombre_asesor`,coalesce(`aprobacion`.`acta_aprobacion`,'') AS `Acta_Aprobacion`,coalesce(`tipo`.`description`,'') AS `Destino_Credito`,round(coalesce(`dm`.`dias_mora_promedio`,0),2) AS `Dias_Mora_Promedio`,coalesce(`p`.`capital_inicial`,0) AS `Capital_Inicial`,coalesce(`cobros`.`capital_base`,0) AS `Valor_Capital_Cuota`,coalesce(`cobros`.`interes_corriente_base`,0) AS `Interes_Cuota`,coalesce(`cobros`.`monto_total_cobros_adicionales`,0) AS `Cobros_Adicionales`,`des`.`name` AS `Usuario_Desembolso`,`p`.`ind_reestructuracion` AS `ind_reestructuracion`,coalesce(`p`.`fecha_reestructuracion`,'') AS `Fecha_Reestructuracion`,coalesce(`p`.`prestamo_relacionado`,'') AS `Prestamo_Relacionado`,coalesce(`p`.`fecha_vencimiento_final`,'') AS `fecha_vencimiento_final` from (((((((((((((((((`prm_prestamo` `p` left join `prm_desembolso` `d` on((`p`.`prm_prestamo_id` = `d`.`prm_prestamo_id`))) left join `prm_balance` `pb` on((`p`.`prm_prestamo_id` = `pb`.`prm_prestamo_id`))) left join `c_bpartner_location` `s` on((`p`.`c_bpartner_location_id` = `s`.`c_bpartner_location_id`))) left join `cu_customermaster` `c` on((`p`.`cu_customermaster_id` = `c`.`cu_customermaster_id`))) left join `prd_producto` `pr` on((`p`.`prd_producto_id` = `pr`.`prd_producto_id`))) left join `cpo_garantia` `cupo` on(((`p`.`numero_cupo` = `cupo`.`cpo_cupo_id`) and (`cupo`.`isactive` = 'Y')))) left join `grt_garantia` `garantia` on((`cupo`.`grt_garantia_id` = `garantia`.`grt_garantia_id`))) left join `grt_tipo_garantia` `tipo_garantia` on((`garantia`.`grt_tipo_garantia_id` = `tipo_garantia`.`grt_tipo_garantia_id`))) left join `cu_customermaster` `asesor` on((`asesor`.`cu_customermaster_id` = `p`.`cu_asesor_id`))) left join `scr_credito` `credito` on((`p`.`numero_operacion` = `credito`.`numero_prestamo`))) left join `scr_aprobacion` `aprobacion` on((`credito`.`scr_credito_id` = `aprobacion`.`scr_credito_id`))) left join `prd_coddesc` `tipo` on((`p`.`destino_credito` = `tipo`.`prd_coddesc_id`))) left join `vw_rs_prestamos_dias_mora` `dm` on((`p`.`prm_prestamo_id` = `dm`.`prm_prestamo_id`))) left join `vw_rs_prestamos_cobros` `cobros` on((`p`.`prm_prestamo_id` = `cobros`.`prm_prestamo_id`))) left join `ad_user` `des` on((`d`.`createdby` = `des`.`ad_user_id`))) left join `adm_periodicidad` `per` on((`p`.`periodicidad` = `per`.`adm_periodicidad_id`))) left join `ad_ref_list` `pagos` on(((`p`.`adm_formas_pago_id` = `pagos`.`value`) and (`pagos`.`ad_reference_id` = 800722))))where (`d`.`fecha_desembolso` BETWEEN '{fecha_inicio}' AND '{fecha_fin}') AND (`p`.`estado` = '0' OR `p`.`estado`= '7')",engine)

In [8]:
# Crea dataframe que agrupe el número de movimientos hechos por asociado clasificado por cedula
cuenta_movimientos = pd.DataFrame(data = movimientos_asociados.groupby(['Cedula'])['Cliente_id'].count())
movimientos_cedula = cuenta_movimientos.reset_index()
movimientos_cedula = movimientos_cedula.rename(columns = {'Cliente_id':'Cuenta_movimientos'})

In [9]:
# Crea dataframe que agrupe el número de prestamos por asociado utilizando como criterio la cedula
cuenta_prestamos = pd.DataFrame(data = prestamos.groupby(['Nro_Identificacion'])['Nro_Identificacion'].count())
cuenta_prestamos = cuenta_prestamos.rename(columns = {'Nro_Identificacion': 'Cuenta_prestamos_cedula'})
prestamos_conf = cuenta_prestamos.reset_index()

In [10]:
#Convierte los tipos de datos de aquellas columnas que estan como objetos y deben ser numericos
aportes_por_cc['cedula'] = pd.to_numeric(aportes_por_cc['cedula'], errors = 'coerce')
movimientos_asociados['Cliente_id'] = pd.to_numeric(movimientos_asociados['Cliente_id'], errors = 'coerce')
movimientos_cedula['Cedula'] = pd.to_numeric(movimientos_cedula['Cedula'], errors = 'coerce')
prestamos['Nro_Identificacion'] = pd.to_numeric(prestamos['Nro_Identificacion'], errors = 'coerce')
prestamos_conf['Nro_Identificacion'] = pd.to_numeric(prestamos_conf['Nro_Identificacion'], errors = 'coerce')

In [11]:
# Se efectua el merge entre las tres tablas
merge_aportes_movimientos = aportes_por_cc.merge(movimientos_cedula, how = 'left', left_on = 'cedula', right_on = 'Cedula')
merge_prestamos = merge_aportes_movimientos.merge(prestamos_conf, how = 'left', left_on = 'cedula', right_on = 'Nro_Identificacion', validate = 'one_to_one')

In [12]:
# Selecciona solo las columnas necesarias en el merge
cruce = merge_prestamos.filter(['cedula','Nombre_Completo','Agencia','saldo','fecha_ingreso', 'Cuenta_movimientos', 'Cuenta_prestamos_cedula'], axis=1)

In [20]:
for i in cruce.index:
    # Marca la condicion determinada por el valor del saldo
    if cruce.loc[i, 'saldo'] > 52668:
        cruce.loc[i, 'condicion_saldo'] = 1
    else: 
        cruce.loc[i, 'condicion_saldo'] = 0
    # Marca la condicion determinada por el número de movimientos
    if cruce.loc[i, 'Cuenta_movimientos'] > 0:
        cruce.loc[i, 'condicion_movimientos'] = 1
    else: 
        cruce.loc[i, 'condicion_movimientos'] = 0
    # Marca la condicion determinada por prestamos desembolsados al asociado
    if cruce.loc[i, 'Cuenta_prestamos_cedula'] > 0:
        cruce.loc[i, 'condicion_prestamo'] = 1
    else: 
        cruce.loc[i, 'condicion_prestamo'] = 0
    # Suma las condiciones determinadas
    cruce.loc[i, 'suma_condiciones'] = cruce.loc[i, 'condicion_saldo'] + cruce.loc[i, 'condicion_movimientos'] + cruce.loc[i, 'condicion_prestamo']
    if cruce.loc[i, 'suma_condiciones'] > 0:
        cruce.loc[i, 'estado_asociado'] = ("Activo")
    else:
        cruce.loc[i, 'estado_asociado'] = ("Inactivo")

writer = ExcelWriter(f'{fecha_fin}_Asociados_activos_condicion 1 movimiento.xlsx')
cruce.to_excel(writer, 'Hoja de datos', index=False)
writer.save()

In [21]:
for i in cruce.index:
    if cruce.loc[i, 'Cuenta_movimientos'] > 3:
        cruce.loc[i, 'condicion_movimientos'] = 1
    else: 
        cruce.loc[i, 'condicion_movimientos'] = 0
    
    cruce.loc[i, 'suma_condiciones'] = cruce.loc[i, 'condicion_saldo'] + cruce.loc[i, 'condicion_movimientos'] + cruce.loc[i, 'condicion_prestamo']
    if cruce.loc[i, 'suma_condiciones'] > 0:
        cruce.loc[i, 'estado_asociado'] = ("Activo")
    else:
        cruce.loc[i, 'estado_asociado'] = ("Inactivo")
        


writer = ExcelWriter(f'{fecha_fin}_Asociados_activos_condicion 4 movimientos.xlsx')
cruce.to_excel(writer, 'Hoja de datos', index=False)
writer.save()