In [1]:
import pandas as pd # Manipulacion de datos
from pandas import ExcelWriter #Crear archivo de excel
import sqlalchemy as sql # Conexion con base de datos
from datetime import date
from datetime import datetime

In [2]:
engine = sql.create_engine("mysql://mysql:reportserver@34.74.68.92:3306/BIServer") #Credenciales BD

In [3]:
fecha_corte = input('Ingrese la fecha de corte en formato aaaa-mm-dd: ')

Ingrese la fecha de corte en formato aaaa-mm-dd: 2021-02-15

In [4]:
#Reporte basico de ahorros
plan_aportes_activo = pd.read_sql_query(f"select coalesce(`cliente`.`identification`,'') AS `identificacion`,coalesce(`cliente`.`razonsocial`,'') AS `nombre`, coalesce(`dep_deposito`.`fecha_inicio`,'0001-01-01') AS `depositos_fecha_inicio`, coalesce(`dep_deposito`.`cuota_periodica`,'') AS `depositos_cuota_periodica`,coalesce(`dep_deposito`.`saldo_actual`,0) AS `depositos_saldo_actual` from (((((((((((((((((((`dep_deposito` left join `cu_customermaster` `cliente` on((`dep_deposito`.`cu_customermaster_id` = `cliente`.`cu_customermaster_id`))) left join `c_bpartner_location` on((`dep_deposito`.`agencia_id` = `c_bpartner_location`.`c_bpartner_location_id`))) left join `prd_producto` `producto` on((`dep_deposito`.`prd_producto_id` = `producto`.`prd_producto_id`))) left join `prd_producto_ahorros` `prd_ahorros` on((`prd_ahorros`.`prd_producto_id` = `producto`.`prd_producto_id`))) left join `dep_bloqueo` on((`dep_deposito`.`dep_bloqueo_id` = `dep_bloqueo`.`dep_bloqueo_id`))) left join `dep_exencion` on((`dep_deposito`.`cta_exenta_gravamen` <> `dep_exencion`.`sn_eximida`))) left join `adm_periodicidad` `cuota` on((`cuota`.`adm_periodicidad_id` = `dep_deposito`.`periodicidad_pago_cuota`))) left join `ad_user` `apertura` on((`apertura`.`ad_user_id` = `dep_deposito`.`createdby`))) left join `ad_user` `actualizacion` on((`actualizacion`.`ad_user_id` = `dep_deposito`.`updatedby`))) left join `dep_deposito` `destino` on((`dep_deposito`.`destino_intereses` = `destino`.`dep_deposito_id`))) left join `prd_coddesc` `codigo` on(((`codigo`.`prd_coddesc_id` = `dep_deposito`.`tipo_documento_id`) and (`codigo`.`prd_codtitle_id` = 4)))) left join `ad_ref_list` `tipo` on(((`tipo`.`value` = `dep_deposito`.`tipo_autorizado`) and (`tipo`.`ad_reference_id` = 800590)))) left join `ad_ref_list` `forma` on(((`forma`.`value` = `dep_deposito`.`tipo_formas_pago`) and (`forma`.`ad_reference_id` = 800722)))) left join `adm_periodicidad` `interes` on((`interes`.`adm_periodicidad_id` = `dep_deposito`.`periodo_capitalizacion_id`))) left join `ad_ref_list` `gravamen` on(((`gravamen`.`value` = `dep_deposito`.`cta_exenta_gravamen`) and (`gravamen`.`ad_reference_id` = 100994)))) left join `ad_ref_list` `retefuente` on(((`retefuente`.`value` = `dep_deposito`.`cta_exenta_retefuente`) and (`retefuente`.`ad_reference_id` = 100994)))) left join `ad_ref_list` `estado` on(((`estado`.`value` = `dep_deposito`.`estado`) and (`estado`.`ad_reference_id` = 800587)))) left join `dep_exencion` `exencion` on((`dep_deposito`.`dep_exencion_id` = `exencion`.`dep_exencion_id`))) left join `vw_rs_depositos_basico_ahorros_tercero` `ret` on((`ret`.`dep_deposito_id` = `dep_deposito`.`dep_deposito_id`))) WHERE `producto`.`nombre_producto` = 'PLAN APORTES MENSUAL' AND `estado`.`name` = 'Activo' AND `dep_deposito`.`fecha_inicio` < '{fecha_corte}'", engine)

In [5]:
plan_aportes_activo['depositos_cuota_periodica'] = plan_aportes_activo['depositos_cuota_periodica'].astype(float)
plan_aportes_activo['identificacion'] = plan_aportes_activo['identificacion'].astype(int)
plan_aportes_activo['depositos_fecha_inicio'] = pd.to_datetime(plan_aportes_activo['depositos_fecha_inicio'])

In [6]:
plan_aportes_activo

,identificacion,nombre,depositos_fecha_inicio,depositos_cuota_periodica,depositos_saldo_actual
0,33818514,PAOLA ANDREA LOPEZ CLAVIJO,2020-06-30,20000.0,340000.0
1,1092455063,SALOME PRADA LOPEZ,2020-06-30,20000.0,210000.0
2,1094976576,TATIANA ANDREA PRADA LOPEZ,2020-06-30,21000.0,189000.0
3,1094971597,ESTEBAN RIOS HINCAPIE,2020-07-01,15000.0,135000.0
4,1094944732,DANIEL CEPEDA JIMENEZ,2020-07-02,59000.0,402000.0
...,...,...,...,...,...
2883,1010103940,JUAN FELIPE OLAVE DOMINGUEZ,2021-02-13,10000.0,930000.0
2884,1112772263,JOHN ALEXANDER RIOS MOLINA,2021-02-13,15000.0,15000.0
2885,41871104,DOLLY MILENA DIAZ OCAMPO,2021-02-13,50000.0,100000.0
2886,24494671,LAURA ROSA ACEVEDO ZAPATA,2021-02-13,22000.0,22000.0
2887,31417351,GLORIA PATRICIA GUTIERREZ CLAVIJO,2021-02-13,20000.0,20000.0

In [7]:
fecha_corte = pd.to_datetime('2021-02-15')

In [8]:
for i in plan_aportes_activo.index:
    plan_aportes_activo.loc[i,'cuotas_pagadas'] = plan_aportes_activo.loc[i,'depositos_saldo_actual']/plan_aportes_activo.loc[i,'depositos_cuota_periodica']
    plan_aportes_activo.loc[i,'cuotas_proyectadas'] = round((((fecha_corte - plan_aportes_activo.loc[i,'depositos_fecha_inicio']).days/365.2425)*12),0)
    if plan_aportes_activo.loc[i,'cuotas_pagadas'] >= plan_aportes_activo.loc[i,'cuotas_proyectadas']:
        plan_aportes_activo.loc[i,'OBS'] = ("Al dia")
    else:
        plan_aportes_activo.loc[i,'OBS'] = ("Atrasado")

In [8]:
plan_aportes_activo

,identificacion,nombre,depositos_fecha_inicio,depositos_cuota_periodica,depositos_saldo_actual,cuotas_pagadas,cuotas_proyectadas,OBS
0,33818514,PAOLA ANDREA LOPEZ CLAVIJO,2020-06-30,20000.0,340000.0,17.000000,8.0,Al dia
1,1092455063,SALOME PRADA LOPEZ,2020-06-30,20000.0,210000.0,10.500000,8.0,Al dia
2,1094976576,TATIANA ANDREA PRADA LOPEZ,2020-06-30,21000.0,189000.0,9.000000,8.0,Al dia
3,1094971597,ESTEBAN RIOS HINCAPIE,2020-07-01,15000.0,135000.0,9.000000,8.0,Al dia
4,1094944732,DANIEL CEPEDA JIMENEZ,2020-07-02,59000.0,402000.0,6.813559,7.0,Atrasado
...,...,...,...,...,...,...,...,...
2885,1010103940,JUAN FELIPE OLAVE DOMINGUEZ,2021-02-13,10000.0,930000.0,93.000000,0.0,Al dia
2886,1112772263,JOHN ALEXANDER RIOS MOLINA,2021-02-13,15000.0,15000.0,1.000000,0.0,Al dia
2887,41871104,DOLLY MILENA DIAZ OCAMPO,2021-02-13,50000.0,100000.0,2.000000,0.0,Al dia
2888,24494671,LAURA ROSA ACEVEDO ZAPATA,2021-02-13,22000.0,22000.0,1.000000,0.0,Al dia
2889,31417351,GLORIA PATRICIA GUTIERREZ CLAVIJO,2021-02-13,20000.0,20000.0,1.000000,0.0,Al dia

In [9]:
cuota_manejo = pd.read_csv('cuota_manejo.csv')

In [10]:
for i in cuota_manejo.index:
    if cuota_manejo.loc[i,'ESTADO'] == 'No Procesado':
        cuota_manejo = cuota_manejo.drop([i], axis = 0)

In [11]:
tarjetas_activas = pd.read_csv('Tarjetas activas.csv')

In [12]:
tarjetas_activas.dtypes

TARJETA                  int64
NOMBRE                  object
ESTADO                  object
FECHA_BLOQUEO          float64
AGENCIA                float64
CEDULA                   int64
CUENTA_AHORROS         float64
CUPO_ROTATIVO          float64
USUARIO_ASIGNADO        object
FECHA_ACTIVACION        object
CODIGO_TIENDA          float64
ZONA                   float64
FECHA_CAMBIO_ESTADO     object
DESCRIPCION_BLOQUEO    float64
CODIGO_BLOQUEO         float64
NUMERO_REMISION        float64
dtype: object

In [13]:
cruce_tarjetas_cuota = tarjetas_activas.merge(cuota_manejo, how = 'inner', left_on = 'TARJETA', right_on = 'NUMERO_TARJETA')

In [15]:
cruce_tarjetas_cuota.columns

Index(['TARJETA', 'NOMBRE', 'ESTADO_x', 'FECHA_BLOQUEO', 'AGENCIA', 'CEDULA',
       'CUENTA_AHORROS', 'CUPO_ROTATIVO', 'USUARIO_ASIGNADO',
       'FECHA_ACTIVACION', 'CODIGO_TIENDA', 'ZONA', 'FECHA_CAMBIO_ESTADO',
       'DESCRIPCION_BLOQUEO', 'CODIGO_BLOQUEO', 'NUMERO_REMISION',
       'NUMERO_TARJETA', 'CUENTA_CLIENTE', 'NUMERO_CUPO', 'MONTO_COBRO',
       'ESTADO_y', 'MENSAJE', 'FECHA_COBRO', 'TIPO_COBRO'],
      dtype='object')

In [14]:
cruce_tarjeta_plan = cruce_tarjetas_cuota.merge(plan_aportes_activo, how = 'inner', left_on = 'CEDULA', right_on = 'identificacion')

In [15]:
cruce_tarjeta_plan

,TARJETA,NOMBRE,ESTADO_x,FECHA_BLOQUEO,AGENCIA,CEDULA,CUENTA_AHORROS,CUPO_ROTATIVO,USUARIO_ASIGNADO,FECHA_ACTIVACION,...,FECHA_COBRO,TIPO_COBRO,identificacion,nombre,depositos_fecha_inicio,depositos_cuota_periodica,depositos_saldo_actual,cuotas_pagadas,cuotas_proyectadas,OBS
0,4239492543014769,JULIO CESAR TARQUINO GALVIS,Activa,NaN,NaN,7540460,1.100000e+15,15396.0,ADMINISTRADOR,NaN,...,15/2/2021,Cuota de Manejo,7540460,JULIO CESAR TARQUINO GALVIS,2020-07-28,20000.0,160000.0,8.0,7.0,Al dia
1,4239492543007367,JHON JAIRO OSPINA ZAPATA,Activa,NaN,NaN,7559019,1.100000e+15,NaN,ADMINISTRADOR,NaN,...,15/2/2021,Cuota de Manejo,7559019,JHON JAIRO OSPINA ZAPATA,2020-08-27,10000.0,60000.0,6.0,6.0,Al dia
2,4239492543015097,ALEJANDRO BUENDIA JARAMILLO,Activa,NaN,NaN,9774301,8.100000e+15,NaN,ADMINISTRADOR,NaN,...,15/2/2021,Cuota de Manejo,9774301,ALEJANDRO BUENDIA JARAMILLO,2020-12-23,20000.0,20000.0,1.0,2.0,Atrasado
3,4239492543005015,CARLOS JULIO CASTAÃ‘O ORTIZ,Activa,NaN,NaN,9807679,8.100000e+15,27915.0,ADMINISTRADOR,NaN,...,15/2/2021,Cuota de Manejo,9807679,CARLOS JULIO CASTAÃ‘O ORTIZ,2020-08-12,10000.0,90000.0,9.0,6.0,Al dia
4,4239492543009587,DIANA PATRICIA PEREZ MARTINEZ,Activa,NaN,NaN,38792257,4.100000e+15,NaN,ADMINISTRADOR,NaN,...,15/2/2021,Cuota de Manejo,38792257,DIANA PATRICIA PEREZ MARTINEZ,2020-08-14,10000.0,20000.0,2.0,6.0,Atrasado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,4771701460000286,FELIX ANTONIO ORTIZ YATE,Activa,NaN,NaN,14297189,1.410000e+16,NaN,VCASTANO,2021-01-28-08.20.23.532000,...,15/2/2021,Cuota de Manejo,14297189,FELIX ANTONIO ORTIZ YATE,2021-01-14,20000.0,40000.0,2.0,1.0,Al dia
84,4771701460000294,ANDRES JARAMILLO DIAZ,Activa,NaN,NaN,1110461210,1.410000e+16,NaN,VCASTANO,2021-01-28-08.30.41.174000,...,15/2/2021,Cuota de Manejo,1110461210,ANDRES JARAMILLO DIAZ,2021-01-14,20000.0,40000.0,2.0,1.0,Al dia
85,4771701460000328,EDIVER ANDRES VANEGAS OSORIO,Activa,NaN,NaN,1113780357,1.510000e+16,NaN,LPARRA,2021-02-05-09.14.42.711000,...,15/2/2021,Cuota de Manejo,1113780357,EDIVER ANDRES VANEGAS OSORIO,2020-09-29,10000.0,170000.0,17.0,5.0,Al dia
86,4771701460000351,LEONARDO FABIO CABALLERO SALAZAR,Activa,NaN,NaN,1112629541,1.100000e+15,NaN,LPARRA,2021-02-05-10.00.40.284000,...,15/2/2021,Cuota de Manejo,1112629541,LEONARDO FABIO CABALLERO SALAZAR,2020-09-18,10000.0,100000.0,10.0,5.0,Al dia
87,4771701460000369,BLAS CALDERON ARAOS,Activa,NaN,NaN,17616075,1.410000e+16,NaN,VCASTANO,2021-02-05-08.14.04.931000,...,15/2/2021,Cuota de Manejo,17616075,BLAS CALDERON ARAOS,2021-02-03,10000.0,50000.0,5.0,0.0,Al dia

In [16]:
for i in cruce_tarjeta_plan.index:
    if cruce_tarjeta_plan.loc[i,'OBS'] == 'Atrasado':
        cruce_tarjeta_plan = cruce_tarjeta_plan.drop([i], axis = 0)

In [17]:
c = 0
for i in cruce_tarjeta_plan.index:
    c += 1
    cruce_tarjeta_plan.loc[i, 'CONSECUTIVO'] = (c)
    cruce_tarjeta_plan.loc[i, 'AGENCIA'] = (1)
    cruce_tarjeta_plan.loc[i, 'CONSECUTIVO CABECERA'] = (c)
    cruce_tarjeta_plan.loc[i, 'CODIGO TRX CABECERA'] = "0972"
    cruce_tarjeta_plan.loc[i, 'PRODUCTO CABECERA'] = None
    cruce_tarjeta_plan.loc[i, 'TIPO IDENTIFICACION CABECERA'] = (1)
    cruce_tarjeta_plan.loc[i, 'IDENTIFICACION CABECERA'] = (cruce_tarjeta_plan.loc[i, 'identificacion']).astype(int)
    cruce_tarjeta_plan.loc[i, 'CODIGO TRX DETALLE'] = "0700"
    cruce_tarjeta_plan.loc[i, 'PRODUCTO DETALLE'] = '0' + str(int(cruce_tarjeta_plan.loc[i, 'CUENTA_AHORROS']))
    cruce_tarjeta_plan.loc[i, 'TIPO IDENTIFICACION DETALLE'] = (1)
    cruce_tarjeta_plan.loc[i, 'IDENTIFICACION DETALLE'] = (cruce_tarjeta_plan.loc[i, 'identificacion']).astype(int)
    cruce_tarjeta_plan.loc[i, 'TIPO OPERACION'] = None
    cruce_tarjeta_plan.loc[i, 'MONTO DETALLE'] = (3500)
    cruce_tarjeta_plan.loc[i, 'FECHA PROCESO DETALLE'] = date.today()

In [18]:
cruce = cruce_tarjeta_plan.filter(['CONSECUTIVO', 'AGENCIA', 'CONSECUTIVO CABECERA', 'CODIGO TRX CABECERA', 'PRODUCTO CABECERA', 'TIPO IDENTIFICACION CABECERA', 'IDENTIFICACION CABECERA', 'CODIGO TRX DETALLE', 'PRODUCTO DETALLE', 'TIPO IDENTIFICACION DETALLE', 'IDENTIFICACION DETALLE', 'TIPO OPERACION', 'MONTO DETALLE', 'FECHA PROCESO DETALLE'], axis=1)

In [19]:
cruce

,CONSECUTIVO,AGENCIA,CONSECUTIVO CABECERA,CODIGO TRX CABECERA,PRODUCTO CABECERA,TIPO IDENTIFICACION CABECERA,IDENTIFICACION CABECERA,CODIGO TRX DETALLE,PRODUCTO DETALLE,TIPO IDENTIFICACION DETALLE,IDENTIFICACION DETALLE,TIPO OPERACION,MONTO DETALLE,FECHA PROCESO DETALLE
0,1.0,1.0,1.0,0972,NaN,1.0,7.540460e+06,0700,01100000000000909,1.0,7.540460e+06,NaN,3500.0,2021-03-01
1,2.0,1.0,2.0,0972,NaN,1.0,7.559019e+06,0700,01100000000005382,1.0,7.559019e+06,NaN,3500.0,2021-03-01
3,3.0,1.0,3.0,0972,NaN,1.0,9.807679e+06,0700,08100000000950317,1.0,9.807679e+06,NaN,3500.0,2021-03-01
5,4.0,1.0,4.0,0972,NaN,1.0,3.976092e+07,0700,01100000000012707,1.0,3.976092e+07,NaN,3500.0,2021-03-01
6,5.0,1.0,5.0,0972,NaN,1.0,4.189178e+07,0700,01100000000007488,1.0,4.189178e+07,NaN,3500.0,2021-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,71.0,1.0,71.0,0972,NaN,1.0,1.429719e+07,0700,014100000001014836,1.0,1.429719e+07,NaN,3500.0,2021-03-01
84,72.0,1.0,72.0,0972,NaN,1.0,1.110461e+09,0700,014100000001014836,1.0,1.110461e+09,NaN,3500.0,2021-03-01
85,73.0,1.0,73.0,0972,NaN,1.0,1.113780e+09,0700,015100000001009848,1.0,1.113780e+09,NaN,3500.0,2021-03-01
86,74.0,1.0,74.0,0972,NaN,1.0,1.112630e+09,0700,01100000001008329,1.0,1.112630e+09,NaN,3500.0,2021-03-01
87,75.0,1.0,75.0,0972,NaN,1.0,1.761608e+07,0700,014100000001015186,1.0,1.761608e+07,NaN,3500.0,2021-03-01

In [20]:
cruce.to_csv('cuotamanejoene2021.csv', header=False, index=False)