# REVISION DE PAGO DE CONSIGNACION A APORTES, CUOTA DE ADMISIÓN E IVA

**ENTRADAS**

**1.** Vista de datos personales (*columnas* -> cedula, fecha ingreso = rango definido ,vinculo = 'cliente-socio')


**2.** Libro auxiliar del mismo rango de fechas de la revision con cuota de admision e iva. 


**3.** Vista de reporte basico de ahorros (*columnas* -> cedula, producto = 'aportes ordinarios', estado = 'activo', saldo actual)

**CONDICIONES**

**1.** Los aportes deben tener un valor minimo de **$54.512**

**2.** La cuota de admisión tiene que ser estrictamente igual a **$7.571**

**3.** El iva debe tener un valor minimo de **$1.438**

**SALIDA**

Un archivo de excel con tres columnas adicionales llamadas "observacion_aportes", "observacion_cuota_admision" y "observacion_iva" donde se especifique:


**1.** Por favor validar valor de aportes {aportes_busqueda} debe ser igual o mayor a **$54.512**

**2.** Por favor validar valor de cuota de admision que debe ser igual a **$7.571**

**3.** Por favor validar valor de iva que debe tener un valor minimo de **$1.438**

In [1]:
# importar bibliotecas necesarias
import pandas as pd # Manipulacion de datos
from pandas import ExcelWriter #Crear archivo de excel
import sqlalchemy as sql # Conexion con base de datos
import PySimpleGUI as sg #Crear interfaz de usuario
import re

In [2]:
#Conexion con la base de datos 
engine = sql.create_engine("mysql://mysql:reportserver@34.74.68.92:3306/BIServer") #Credenciales BD

In [3]:
#Se establecen los criterio de las fechas de revision
fecha_inicio = input("Por favor inserte la fecha inicial de su revisión en formato aaaa-mm-dd ")
fecha_fin = input("Por favor inserte la fecha final de su revisión en formato aaaa-mm-dd ")

Por favor inserte la fecha inicial de su revisión en formato aaaa-mm-dd 2021-02-22
Por favor inserte la fecha final de su revisión en formato aaaa-mm-dd 2021-02-27

In [4]:
#Vista de datos personales y total en aportes con especificaciones establecidas
revision_aportes = pd.read_sql_query(f"select `cliente`.`identification` AS `cedula`,sum(`dep`.`saldo_actual`) AS `saldo`,`cliente`.`entry_date` AS `fecha_ingreso` from ((`dep_deposito` `dep` left join `prd_producto` `pro` on((`dep`.`prd_producto_id` = `pro`.`prd_producto_id`))) left join `prd_tipo_producto` `tip` on((`pro`.`prd_tipo_producto_id` = `tip`.`prd_tipo_producto_id`)))join `cu_customermaster` `cliente` on `cliente`.`cu_customermaster_id`=`dep`.`cu_customermaster_id` where (`tip`.`clasificacion` = 'AT') AND (`cliente`.`entry_date` BETWEEN '{fecha_inicio}' AND '{fecha_fin}') group by `dep`.`cu_customermaster_id`", engine)

In [5]:
revision_aportes

         cedula      saldo fecha_ingreso
0      14725181   821491.0    2021-02-24
1      38240188   100241.0    2021-02-23
2       4479768  3054512.0    2021-02-23
3    1093216935    54991.0    2021-02-26
4    1087703210    54991.0    2021-02-23
..          ...        ...           ...
106    41947652   405991.0    2021-02-26
107  1006247502    54512.0    2021-02-26
108  1006515412    55991.0    2021-02-26
109  1094973236    54991.0    2021-02-26
110    38237718    54991.0    2021-02-26

[111 rows x 3 columns]

In [6]:
for i in revision_aportes.index:
    if revision_aportes.loc[i,'saldo'] < 54512:
        aportes_busqueda = revision_aportes.loc[i,'saldo']
        revision_aportes.loc[i, 'Redmine_aportes'] = (f'Por favor validar valor de aportes {aportes_busqueda} debe ser igual o mayor a $54.512') 
    else:
        revision_aportes.loc[i, 'Redmine_aportes'] = ('No hay observacion')

In [ ]:
writer = ExcelWriter(f'{fecha_inicio}_{fecha_fin}_Revisión_aportes.xlsx')
revision_aportes.to_excel(writer, 'Hoja de datos', index=False)
writer.save()

In [7]:
#Funcion para cargar el archivo de libro auxiliar a través de interfaz de usuario
def cargar_csv():
    sg.set_options(auto_size_buttons=True)
    filename = sg.popup_get_file(
        'filename to open', no_window=True, file_types=(("CSV Files", "*.csv"),))
    # --- populate table with file contents --- #
    if filename == '':
        return

    data = []
    header_list = []
    button = sg.popup_yes_no('¿Este archivo tiene el nombre de las columnas definidas?')

    if filename is not None:
        try:
            # Header=None means you directly pass the columns names to the dataframe
            df = pd.read_csv(filename, sep=',')
            data = df.values.tolist()               # read everything else into a list of rows
            if button == 'Yes':                     # Press if you named your columns in the csv
                # Uses the first row (which should be column names) as columns names
                header_list = df.iloc[0].tolist()
                # Drops the first row in the table (otherwise the header names and the first row will be the same)
                data = df[1:].values.tolist()
            elif button == 'No':                    # Press if you didn't name the columns in the csv
                # Creates columns names for each column ('column0', 'column1', etc)
                header_list = ['column' + str(x) for x in range(len(data[0]))]
                
            return df
        except:
            sg.popup_error('Error al leer el archivo')
            return

In [8]:
libro_auxiliar = cargar_csv()

In [9]:
libro_auxiliar

,FECHA_CONT,AGENCIA,CENTRO_COSTO,COMPROBANTE,NUM_DOC,ESQUEMA,ACCTVALUE,ACCTDESCRIPTION,DEBITO,CREDITO,DOC_REF,DESCRIPCION,IDENTIFICACION,FULLNAME
0,2021-02-25,ARMENIA,NaN,ABONO POR NOMINA,334,NIIF,24109512,CANAL DISTRIBUCIONES,34923,0,NaN,800069925 - COFINCAFE,8.000699e+08,COFINCAFE
1,2021-02-25,ARMENIA,NaN,ABONO POR NOMINA,334,NIIF,16301002,CONVENIO EMI,0,34923,NaN,41960725 - LEIDY XIOMARA ALZATE RUIZ,4.196072e+07,LEIDY XIOMARA ALZATE RUIZ
2,2021-02-25,ARMENIA,NaN,ABONO POR NOMINA,334,NIIF,24109512,CANAL DISTRIBUCIONES,143898,0,NaN,800069925 - COFINCAFE,8.000699e+08,COFINCAFE
3,2021-02-25,ARMENIA,NaN,ABONO POR NOMINA,334,NIIF,16301002,CONVENIO EMI,0,143898,NaN,7540460 - JULIO CESAR TARQUINO GALVIS,7.540460e+06,JULIO CESAR TARQUINO GALVIS
4,2021-02-25,SANTA ROSA,NaN,ABONO POR NOMINA,334,NIIF,24109512,CANAL DISTRIBUCIONES,"304278,04",0,1490193,CONTABILIDAD DE PAGOS,8.000699e+08,COFINCAFE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42851,2021-02-26,FUNDADORES,NaN,VARIOS CAJA,53430,NIIF,27250508,CENTRALES DE INFORMACION,0,20000,NaN,1006515412 - OSCAR ANDRES MENDEZ RAMOS,1.006515e+09,OSCAR ANDRES MENDEZ RAMOS
42852,2021-02-26,ARMENIA,NaN,VARIOS CAJA,53431,NIIF,11050501,CAJA GENERAL OFICINA ARMENIA,2100000,0,NaN,800069925 - COFINCAFE,8.000699e+08,COFINCAFE
42853,2021-02-26,ARMENIA,NaN,VARIOS CAJA,53431,NIIF,24459503,PDA - ABONOS POR APLICAR,0,2100000,NaN,800069925 - COFINCAFE,8.000699e+08,COFINCAFE
42854,2021-02-27,TEBAIDA,NaN,VARIOS CAJA,53432,NIIF,11050509,CAJA GENERAL OFICINA TEBAIDA,36000,0,NaN,4522987 - NEFTALI DE JESUS HENAO MARIN,4.522987e+06,NEFTALI DE JESUS HENAO MARIN
42855,2021-02-27,TEBAIDA,NaN,VARIOS CAJA,53432,NIIF,27250530,VIDA SEGURA EQUIDAD,0,36000,NaN,4522987 - NEFTALI DE JESUS HENAO MARIN,4.522987e+06,NEFTALI DE JESUS HENAO MARIN

In [10]:
informacion_cruce = libro_auxiliar[['IDENTIFICACION','ACCTVALUE','DEBITO','CREDITO']]

In [11]:
informacion_cruce

       IDENTIFICACION  ACCTVALUE     DEBITO  CREDITO
0        8.000699e+08   24109512      34923        0
1        4.196072e+07   16301002          0    34923
2        8.000699e+08   24109512     143898        0
3        7.540460e+06   16301002          0   143898
4        8.000699e+08   24109512  304278,04        0
...               ...        ...        ...      ...
42851    1.006515e+09   27250508          0    20000
42852    8.000699e+08   11050501    2100000        0
42853    8.000699e+08   24459503          0  2100000
42854    4.522987e+06   11050509      36000        0
42855    4.522987e+06   27250530          0    36000

[42856 rows x 4 columns]

In [ ]:
revision_aportes.dtypes

In [ ]:
informacion_cruce.dtypes

In [12]:
revision_aportes['cedula']=revision_aportes['cedula'].astype('float')
informacion_cruce['CREDITO'] = pd.to_numeric(informacion_cruce['CREDITO'], errors='coerce')
informacion_cruce['ACCTVALUE'] = pd.to_numeric(informacion_cruce['ACCTVALUE'], errors='coerce')

<ipython-input-12-2c6c241da70d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  informacion_cruce['CREDITO'] = pd.to_numeric(informacion_cruce['CREDITO'], errors='coerce')
<ipython-input-12-2c6c241da70d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  informacion_cruce['ACCTVALUE'] = pd.to_numeric(informacion_cruce['ACCTVALUE'], errors='coerce')

In [ ]:
revision_aportes.dtypes

In [ ]:
informacion_cruce.dtypes

In [13]:
cruce_revision_asociaciones = revision_aportes.merge(informacion_cruce,how = 'left', left_on = 'cedula', right_on = 'IDENTIFICACION')

In [ ]:
cruce_revision_asociaciones.dtypes

In [14]:
for i in cruce_revision_asociaciones.index:
    if cruce_revision_asociaciones.loc[i,'ACCTVALUE'] == 42300501 and cruce_revision_asociaciones.loc[i,'CREDITO'] != 7571:
        cruce_revision_asociaciones.loc[i, 'Redmine_cuota_admision'] = ("Por favor validar valor de cuota de admision que debe ser igual a $7.571")
    if cruce_revision_asociaciones.loc[i,'ACCTVALUE'] == 2440100101 and cruce_revision_asociaciones.loc[i,'CREDITO'] < 1438:
        cruce_revision_asociaciones.loc[i, 'Redmine_iva'] = ("Por favor validar, el iva debe tener un valor minimo de $1.438")
    else:
        cruce_revision_asociaciones.loc[i, 'Redmine_iva'] = ("No hay observacion")
        cruce_revision_asociaciones.loc[i, 'Redmine_cuota_admision'] = ("No hay observacion")

In [15]:
cruce_revision_asociaciones

,cedula,saldo,fecha_ingreso,Redmine_aportes,IDENTIFICACION,ACCTVALUE,DEBITO,CREDITO,Redmine_iva,Redmine_cuota_admision
0,14725181.0,821491.0,2021-02-24,No hay observacion,14725181.0,96050501,3285000,0.0,No hay observacion,No hay observacion
1,14725181.0,821491.0,2021-02-24,No hay observacion,14725181.0,911012,0,3285000.0,No hay observacion,No hay observacion
2,14725181.0,821491.0,2021-02-24,No hay observacion,14725181.0,96050101,3650000,0.0,No hay observacion,No hay observacion
3,14725181.0,821491.0,2021-02-24,No hay observacion,14725181.0,911505,0,3650000.0,No hay observacion,No hay observacion
4,14725181.0,821491.0,2021-02-24,No hay observacion,14725181.0,24109507,3650000,0.0,No hay observacion,No hay observacion
...,...,...,...,...,...,...,...,...,...,...
3316,38237718.0,54991.0,2021-02-26,No hay observacion,38237718.0,24109506,0,62562.0,No hay observacion,No hay observacion
3317,38237718.0,54991.0,2021-02-26,No hay observacion,38237718.0,2440100101,0,1438.0,No hay observacion,No hay observacion
3318,38237718.0,54991.0,2021-02-26,No hay observacion,38237718.0,24109506,62562,0.0,No hay observacion,No hay observacion
3319,38237718.0,54991.0,2021-02-26,No hay observacion,38237718.0,31050501,0,54991.0,No hay observacion,No hay observacion
3320,38237718.0,54991.0,2021-02-26,No hay observacion,38237718.0,42300501,0,7571.0,No hay observacion,No hay observacion

In [16]:
writer = ExcelWriter(f'{fecha_inicio}_{fecha_fin}_Revisión_asociaciones.xlsx')
cruce_revision_asociaciones.to_excel(writer, 'Hoja de datos', index=False)
writer.save()