# REVISION DE PAGO DE CONSIGNACION A APORTES, CUOTA DE ADMISIÓN E IVA

**ENTRADAS**

**1.** Vista de datos personales (*columnas* -> cedula, fecha ingreso = rango definido ,vinculo = 'cliente-socio')


**2.** Libro auxiliar del mismo rango de fechas de la revision con cuota de admision e iva. 


**3.** Vista de reporte basico de ahorros (*columnas* -> cedula, producto = 'aportes ordinarios', estado = 'activo', saldo actual)

**CONDICIONES**

**1.** Los aportes deben tener un valor minimo de **$54.512**

**2.** La cuota de admisión tiene que ser estrictamente igual a **$7.571**

**3.** El iva debe tener un valor minimo de **$1.438**

**SALIDA**

Un archivo de excel con tres columnas adicionales llamadas "observacion_aportes", "observacion_cuota_admision" y "observacion_iva" donde se especifique:


**1.** Por favor validar valor de aportes {aportes_busqueda} debe ser igual o mayor a **$54.512**

**2.** Por favor validar valor de cuota de admision que debe ser igual a **$7.571**

**3.** Por favor validar valor de iva que debe tener un valor minimo de **$1.438**

In [1]:
pip install PySimpleGUI

Requirement already satisfied: PySimpleGUI in c:\users\analista4operaciones\anaconda3\lib\site-packages (4.34.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# importar bibliotecas necesarias
import pandas as pd # Manipulacion de datos
from pandas import ExcelWriter #Crear archivo de excel
import sqlalchemy as sql # Conexion con base de datos
import PySimpleGUI as sg #Crear interfaz de usuario
import re

In [3]:
#Conexion con la base de datos 
engine = sql.create_engine("mysql://mysql:reportserver@34.74.68.92:3306/BIServer") #Credenciales BD

In [4]:
#Se establecen los criterio de las fechas de revision
fecha_inicio = input("Por favor inserte la fecha inicial de su revisión en formato aaaa-mm-dd ")
fecha_fin = input("Por favor inserte la fecha final de su revisión en formato aaaa-mm-dd ")

Por favor inserte la fecha inicial de su revisión en formato aaaa-mm-dd 2021-02-20
Por favor inserte la fecha final de su revisión en formato aaaa-mm-dd 2021-02-23

In [5]:
#Vista de datos personales y total en aportes con especificaciones establecidas
revision_aportes = pd.read_sql_query(f"select `cliente`.`identification` AS `cedula`,sum(`dep`.`saldo_actual`) AS `saldo`,`cliente`.`entry_date` AS `fecha_ingreso` from ((`dep_deposito` `dep` left join `prd_producto` `pro` on((`dep`.`prd_producto_id` = `pro`.`prd_producto_id`))) left join `prd_tipo_producto` `tip` on((`pro`.`prd_tipo_producto_id` = `tip`.`prd_tipo_producto_id`)))join `cu_customermaster` `cliente` on `cliente`.`cu_customermaster_id`=`dep`.`cu_customermaster_id` where (`tip`.`clasificacion` = 'AT') AND (`cliente`.`entry_date` BETWEEN '{fecha_inicio}' AND '{fecha_fin}') group by `dep`.`cu_customermaster_id`", engine)

In [6]:
revision_aportes

        cedula      saldo fecha_ingreso
0      4479768    54512.0    2021-02-23
1   1094912702    54512.0    2021-02-22
2      1833306    54991.0    2021-02-20
3      4567869    54512.0    2021-02-20
4     18491641    55991.0    2021-02-20
5      5842242    54991.0    2021-02-20
6   1076652245    55991.0    2021-02-22
7     24498242    70991.0    2021-02-22
8      4426664   405991.0    2021-02-22
9   1114831078   101991.0    2021-02-22
10  1034292765    54512.0    2021-02-22
11    52323178    54512.0    2021-02-22
12     6288800  1764991.0    2021-02-22
13    38872478    54991.0    2021-02-22
14    76322798    54512.0    2021-02-22
15    11337812    55991.0    2021-02-22
16    66675764    54991.0    2021-02-22
17  1075679295    55991.0    2021-02-22
18     7543908    69991.0    2021-02-22
19    24571195    55991.0    2021-02-22
20     7701899    54512.0    2021-02-23
21    94070605    54991.0    2021-02-23
22     6501862    54991.0    2021-02-23
23  1002228405    54512.0    2021-02-23
24    16803320    54991.0    2021-02-23
25    24767172    54512.0    2021-02-23
26  1016028637    54512.0    2021-02-23
27    29842571    54991.0    2021-02-23
28    29285534    54991.0    2021-02-23
29  1016101406    54512.0    2021-02-23

In [7]:
for i in revision_aportes.index:
    if revision_aportes.loc[i,'saldo'] < 54512:
        aportes_busqueda = revision_aportes.loc[i,'saldo']
        revision_aportes.loc[i, 'Redmine_aportes'] = (f'Por favor validar valor de aportes {aportes_busqueda} debe ser igual o mayor a $54.512') 
    else:
        revision_aportes.loc[i, 'Redmine_aportes'] = ('No hay observacion')

In [8]:
writer = ExcelWriter(f'{fecha_inicio}_Revisión_consignaciones.xlsx')
revision_aportes.to_excel(writer, 'Hoja de datos', index=False)
writer.save()

In [ ]:
#Funcion para cargar el archivo de libro auxiliar a través de interfaz de usuario
def cargar_csv():

    sg.set_options(auto_size_buttons=True)
    filename = sg.popup_get_file(
        'filename to open', no_window=True, file_types=(("CSV Files", "*.csv"),))
    # --- populate table with file contents --- #
    if filename == '':
        return

    data = []
    header_list = []
    button = sg.popup_yes_no('¿Este archivo tiene el nombre de las columnas definidas?')

    if filename is not None:
        try:
            # Header=None means you directly pass the columns names to the dataframe
            df = pd.read_csv(filename, sep=',')
            data = df.values.tolist()               # read everything else into a list of rows
            if button == 'Yes':                     # Press if you named your columns in the csv
                # Uses the first row (which should be column names) as columns names
                header_list = df.iloc[0].tolist()
                # Drops the first row in the table (otherwise the header names and the first row will be the same)
                data = df[1:].values.tolist()
            elif button == 'No':                    # Press if you didn't name the columns in the csv
                # Creates columns names for each column ('column0', 'column1', etc)
                header_list = ['column' + str(x) for x in range(len(data[0]))]
                
            return df
        except:
            sg.popup_error('Error al leer el archivo')
            return

In [ ]:
libro_auxiliar = cargar_csv()

In [ ]:
libro_auxiliar

In [ ]:
informacion_cruce = libro_auxiliar[['IDENTIFICACION','ACCTVALUE','DEBITO','CREDITO']]

In [ ]:
informacion_cruce_filtrada = informacion_cruce[informacion_cruce['ACCTVALUE']==42300501, informacion_cruce['ACCTVALUE']==2440100101]

In [ ]:
informacion_cruce_filtrada

In [ ]:
hoja_trabajo = libro_auxiliar